<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Motor</title>
    <link href="/static/output.css" rel="stylesheet">
    <!--<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@v0.2.1/missing.min.css">
    <link rel="stylesheet" href="https://unpkg.com/missing.css@v0.2.1/missing-prism.min.css">-->
</head>
<body class="bg-green-200 0">
{% block content %} {% endblock %}
</body>
</html>